section#clima {}
.clima {
	margin-top: 80px;
}
.clima > img {
	margin: 0 auto;
	display: block;
	width: 180px;
}
.clima ul {
	margin: 0;
	padding: 0;
}
.clima ul li {
	list-style: none;
}
.restosdedias {
	display: flex;
	flex-wrap: wrap;
}
.clima.restosdedias[data-key="0"] {
	display: none;
}
.clima.restosdedias {
	width: 30%;
}