section#personajes {}
section#personajes > .personajes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
section#personajes > .personajes > .personaje {
	width: 18%;
	margin: 0 1% 2%;
}
section#personajes > .personajes > .personaje > a > img {
	width: 100%;
}