section#lasuniversidades > .buscador {
	width: 200px;
	margin: 0 auto 60px;
	border: 1px solid #ccc;
	padding: 20px;
}
section#lasuniversidades > .buscador > input {
	border: 1px solid black;
	height: 45px;
	padding: 5px 10px;
	width: 100%;
}
section#lasuniversidades > .buscador > button {
	width: 100%;
	margin-top: 10px;
}
section#lasuniversidades > .universidades {
	display: flex;
	flex-wrap: wrap;
}
section#lasuniversidades > .universidades > .universidad {
	width: 18%;
	border: 1px solid #ddd;
	margin: 0 1% 2%;
	padding: 1%;
}
section#lasuniversidades > .universidades > .universidad > a {
	color: black;
}
section#lasuniversidades > .universidades > .universidad > a > h2 {
	font-size: 1em;
	margin: 0 0 10px 0;
}