section.zoo > div.animales {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
section.zoo > div.animales > .animal {
	width: 29%;
	text-align: center;
	border: 1px solid #eee;
	margin: 0 1% 1%;
	padding: 1%;
}
section.zoo > div.animales > .animal > .imagen {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	min-height: 140px;
}
section.zoo > div.animales > .animal > .imagen > img {
	width: 100px;
}
section.zoo > div.animales > .animal > .nombre {
	font-size: 1.2em;
	font-weight: bold;
}
section.zoo > div.animales > .animal > .nombre > span {
	font-size: .6em;
	font-weight: normal;
}
section.zoo > div.animales > .animal > ul {}
section.zoo > div.animales > .animal > ul > li {
	font-size: .9em;
	list-style: none;
	text-align: left;
}