section.BuscadorLibros {}
section.BuscadorLibros > div {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.BuscadorLibros > div > div {
	position: relative;
	margin-bottom: 10px;
}
section.BuscadorLibros > div > div > label {
    position: absolute;
    top: -12px;
    left: 10px;
    background: white;
    padding: 4px 8px;
    font-size: 0.8em;
}
section.BuscadorLibros > div > div > input {
    width: 300px;
    height: 40px;
    padding: 6px 10px;
    border: 1px solid #ddd;
}