:root {
	--movimiento: all 0.1s ease-in;
	--boton_default_color_base: #0699c0;
	--boton_default_color_hover: #047e9e;
	--boton_warning_color_base: #ffab00;
	--boton_warning_color_hover: #e59a02;
	--boton_danger_color_base: #de350b;
	--boton_danger_color_hover: #bf2600;
}
button {
	min-width: 160px;
	height: 40px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	list-style: none;
	text-align: center;
	color: black;
	text-decoration: none;
	border-radius: 4px;
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden !important;
	transition: var(--movimiento);
}
button.primary {
	background: var(--boton_default_color_base);
	border: 1px solid var(--boton_default_color_hover);
}
	button.primary:hover {
		background: var(--boton_default_color_hover);
	}
button.primary > span {
	background: var(--boton_default_color_hover);
}
button.warning {
	background: var(--boton_warning_color_base);
	border: 1px solid var(--boton_warning_color_hover);
}
	button.warning:hover {
		background: var(--boton_warning_color_hover);
	}
button.warning > span {
	background: var(--boton_warning_color_hover);
}
button.danger {
	background: var(--boton_danger_color_base);
	border: 1px solid var(--boton_danger_color_hover);
}
	button.danger:hover {
		background: var(--boton_danger_color_hover);
	}
button.danger > span {
	background: var(--boton_danger_color_hover);
}
button > span {
	--medida: 100%;
	width: var(--medida);
	position: absolute;
	left: calc(var(--medida) * -1);
	top: 0;
	height: 40px;
	display: block;
	z-index: 0;
	transition: var(--movimiento);
}
button > p {
	position: absolute;
	z-index: 1;
	color: white;
	text-align: center;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
}
button:hover > span {
	left: 0;
}
