section.libros > .libros {
	display: flex;
	flex-wrap: wrap;
}
section.libros > .libros .libro {
	width: 20.7%;
	border: 1px solid #eee;
	margin: 0 1% 2%;
	padding: 1%;
}
section.libros > .libros .libro:hover {
	border: 1px solid var( --boton_color_base );
}
section.libros > .libros .libro > a {
	text-decoration: none;
	color: black;
}
section.libros > .libros .libro > a .imagen {
	display: flex;
	justify-content: center;
	min-height: 210px;
	padding: 20px 0 10px;
}
section.libros > .libros .libro > a .imagen > img {
	max-width: 80%;
}
section.libros > .libros .libro > a p {
	margin: 0;
	text-align: center;
}
section.libros > .libros .libro > a strong.nombre_libro {
	font-size: 1.6em;
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin-bottom: 20px;
}
section.libros > .libros .libro > a button {
	margin-top: 20px;
}