.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'grad' 0, 'opsz' 48;
}
nav {
	display: flex !important;
	flex-direction: row;
	justify-content: center;
	background: whitesmoke;
	z-index: 3;
	position: relative;
}
nav ul {
	width: 610px;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
}
nav ul li {
	list-style: none;
	position: relative;
	width: 25%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-transform: uppercase;
}
nav ul li a:hover {
	text-decoration: none;
}
nav ul li a.tamoactivo {
	background: #e1e1e1;
	font-weight: 600;
	text-decoration: none;
}
nav ul li:hover {
	background: #eee;
}
nav ul li a {
	text-decoration: none;
	height: 40px;
	display: flex;
	width: 100%;
	color: black;
	align-items: center;
	justify-content: center;
}
nav ul li img.arrowDown {
	width: 10px;
	margin-left: 10px;
	margin-top: 0px;
}
nav ul li ul {
	display: none;
}
nav ul li:hover ul {
	display: block;
	position: absolute;
	min-width: 160px;
	background: whitesmoke;
	width: 100%;
	top: 40px;
	left: 0;
}
nav ul li:hover ul li {
	margin: 0;
	width: auto;
	border-bottom: 1px solid #eee;
}
nav ul li:hover ul li a {
	justify-content: flex-start;
	text-indent: 20px;
}

@media (max-width: 550px) {
	nav ul {
		width: 90%;
	}
}
