nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: whitesmoke;
}
nav ul {
	display: flex;
	padding: 0;
	margin: 0;
	width: 500px;
}
nav ul li {
	list-style: none;
	position: relative;
	width: 25%;
	display: block;
}
nav ul li a.tamoactivo {
	background: #e1e1e1;
}
nav ul li:hover {
	background: #eee;
}
nav ul li a {
	text-decoration: none;
	height: 40px;
	display: flex;
	width: 100%;
	color: black;
	align-items: center;
	justify-content: center;
}
nav ul li img {
	width: 10px;
	margin-left: 20px;
    margin-top: 6px;
}
nav ul li ul {
	display: none;
}
nav ul li:hover ul {
	display: block;
	position: absolute;
	min-width: 160px;
	background: whitesmoke;
	width: auto;
}
nav ul li:hover ul li {
	margin: 0;
	width: auto;
	border-bottom: 1px solid #eee;
}
nav ul li:hover ul li a {
	justify-content: flex-start;
	text-indent: 20px;
}